@import "./var.less";
@import "./mixins.less";

button{
    border: none;
    outline: none;
}

.select{
    -webkit-appearance: none;
    border: 1px solid @gray;
    background-color: white;
    padding: 5px;
    cursor: pointer;
    
}

.btn-select{
    position: relative;
    &:after{
        content: '';
        position: absolute;
        top: 10px;
        right: 10px;
        .arrowBottom(12px, 8px, @black);
    }
}

.text-title{
    font-size: 70px;
    text-align: center;
}

.text-hint{
    display: none;
    color: @red;
    font-size: 13px;
    &.active{
        display: inline-block;
    }
}

.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

.clearfix{
    .clearfix();
}

.col-2{
    width: 100 / 2%;
}

.pad-vertical-15{
    padding: 15px 0;
}

.wrapper{
    width: 580px;
    margin: 170px auto 300px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    .wrapper-top{
        &.base-line{
            border-bottom: 1px solid @gray;
        }
    }
    .wrapper-btm{
        text-align: center;
        padding: 25px 0;
        .btn{
            display: inline-block;
        }
    }
}

.theme-base{
    background-color: @brown;
    .text-title{
        color: @black;
    }
}

