.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.btnSize(@padding){
    padding: @padding;
}

.theme(@color, @light-color, @dark-color){
    background-color: @light-color;
    .text-title{
        color: @dark-color;
    }
    .btn-back{
        background-color: @color;
    }
}