@import "./var.less";
@import "./mixins.less";

.theme-green{
    .theme(@green, @light-green, @dark-green);
}

.demo2{
    .th-gender{
        width: 40%;
    }
    .th-percentage{
        width: 40%;
    }
    .th-remove{
        width: 20%;
    }
}