@import "./var.less";
@import "./mixins.less";

.theme-red{
    .theme(@red, @light-red, @dark-red);
}

.demo1{
    .table-no-border{
        .th{
            width: 50%;
            padding: 5px 0;
            color: @dark-gray;
        }
        .td{
            padding-right: 10px;
            height: 60px;
            .select{
                width: 100%;
            }
        }
    }
}