<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>title</title>
        <link rel="stylesheet" href="/build/stylesheets/base.css">
        <link rel="stylesheet" href="/build/stylesheets/theme-green.css">
    </head>

    <body class="theme-base theme-green">
        <div class="wrapper">
            <div class="wrapper-top base-line">
                <h1 class="text-title">Demo 2</h1>
            </div>
            <div class="wrapper-btm">
                <a href="/app/views/index.html" class="btn btn-back">BACK TO HOME PAGE</a>
            </div>
        </div>
        
        <script src="/build/javascripts/vendor.bundle.js" type="text/javascript" charset="utf-8"></script>
        <script src="/build/javascripts/app.bundle.js" type="text/javascript" charset="utf-8"></script>

    </body>
</html>