<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>title</title>
        <link rel="stylesheet" href="/build/stylesheets/base.css">
    </head>

    <body class="theme-base">
        <div class="wrapper">
            <div class="wrapper-top base-line">
                <h1 class="text-title">Home Page</h1>
            </div>
            <div class="wrapper-btm">
                <a href="/app/views/demo1.html" class="btn btn-sm btn-red">DEMO 1</a>
                <a href="/app/views/demo2.html" class="btn btn-sm btn-green">DEMO 2</a>
            </div>
        </div>
    </body>
</html>